@function rem($value) {
  @return ($value / 16) + rem;
}
@function super-clamp($minPX, $maxPX, $minVP, $maxVP) {
  $differenceVP: ($maxVP - $minVP) / 100;
  $differencePX: $maxPX - $minPX;
  $partVW: $differencePX / $differenceVP;
  $percentVP: $minVP / 100;
  $part1: $percentVP * $partVW;
  $part2: $minPX - $part1;
  $valueREM: ($part2 / 16) + rem;
  $valueVW: ($partVW) + vw;
  $minREM: ($minPX / 16) + rem;
  $maxREM: ($maxPX / 16) + rem;
  @return clamp($minREM, #{$valueREM} + #{$valueVW}, $maxREM);
}
